tencentcloud-sdk-python-intl-en
aliyun-python-sdk-core==2.15.1
git+https://github.com/aliyun/alibabacloud-nls-python-sdk.git
requests
tqdm
# conda install -c conda-forge cmake
paddlepaddle
paddlespeech
opencc==1.1.6
aistudio-sdk==0.2.6
# play_audios_in_dirs.py
# sudo apt update && sudo apt install python3-dev build-essential libasound2-dev
simpleaudio
keyboard